.radio-menu {
  display: flex;
  gap: 16px;
}

.radio input {
  display: none;
}
.radio > label {
  display: inline-block;
  position: relative;
  margin-right: 16px;
  padding-left: 24px;
  cursor: pointer;
}
.radio > label:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 40%;
  margin-top: -8px;
  border: 1px solid var(--color-radio);
  border-radius: 8px;
}

.radio > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 40%;
  left: 8px;
  margin-top: 0;
  background: var(--color-radio);
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.radio input[type="radio"]:checked + label::after {
  height: 8px;
  width: 8px;
  margin-top: -3px;
  left: 5px;
}
