.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.y-axis, .x-axis {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--color-text);
  text-transform: uppercase;
  font-family: Hack, monospace;
}

