@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.y-axis, .x-axis {
  font-size: 1.1em;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Hack, monospace;
}

